@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f9fa;
}

header {
    display: inline;
}

.jumbotron {
    text-align: center;
    padding: 60px;
    color: white;
    margin-bottom: 0;
    font-size: x-large;
    line-height: 30px;
}

.bg-head {
    background: url("../assets/gorontalo-zamrud-khatulistiwa-di-kota-tertua-sulawesi_185141_1140.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0px;
}

header nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

header nav ul li {
    font-weight: bolder;
    display: inline;
    margin-right: 15px;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

main {
    padding: 20px;
}

#content {
    float: left;
    width: 70%;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    object-position: 50% 20%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

main p {
    text-align: justify;
    text-indent: 50px;
    line-height: 1.5;
}

.indent {
    text-indent: 50px;
}

#lambang li {
    text-align: justify;
    line-height: 1.5;
}

aside {
    float: right;
    width: 30%;
    padding-left: 20px;
}

.logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

aside table {
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

aside table tr th {
    text-align: left;
}

/* Carousel */
.slide-container {
    position: relative;
}

.slider {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Carousel */

@media screen and (max-width:1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

footer {
    clear: both;
    background-color: #00a2c6;
    text-align: center;
    line-height: 1.5;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 5px;
    color: white;
}